body{
  background-color: orange;

  #heading{
    text-align: center;
    color: white;
    font-size: 40px;
  }
  p{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 25px;
  }
}
